<!-- 
Story PPW

Created by Fransiscus Emmanuel Bunaren
1806173506
-->

{% load static %}
{% csrf_token %}

{% include "header.html" %}
<title>Contact Form</title>

<!-- Experience -->
<div class="shadow">
<div class="green"><h3>Contact Form</h3></div>
    <div style="margin:10px;">
        <h4><b>Leave your message here : </b></h4>

        <!--<form method="POST" action="contact-form-success.html" style="padding:10px;">-->
            <table width="100%">
                <tr>
                    <td>Name : </td>
                    <td>
                        <input style="width: 100%;background-color: lightgray;border: 1px;font-size: 18;"></input>
                    </td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td>
                        <input style="width: 100%;background-color: lightgray;border: 1px;font-size: 18;"></input>
                    </td>
                </tr>
                <tr>
                    <td>Message : </td>
                    <td>
                        <textarea style="width: 100%;background-color: lightgray;border: 1px;font-size: 18;"></textarea>
                    </td>
                </tr>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"></input>
                <tr>
                    <td></td>
                    <td><a href="contact-form-success.html"><button class="btn btn-success" style="float: right;">Send</button></a></td>
                </tr>
            </table>
        <!--</form>-->
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Terms of Privacy (Challenge)
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms of Privacy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your response will be saved and sent through email to Fransiscus Emmanuel Bunaren. I will not misuse the given data for illegal purposes.
        Make sure that you put a valid email for me to send a reply.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Disagree</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
</div>
<br/>
{% include "footer.html" %}