<!-- 
Story PPW

Created by Fransiscus Emmanuel Bunaren
1806173506
-->

{% load static %}
{% csrf_token %}

{% include "header.html" %}
<title>Message has successfully been sent!</title>

<!-- Experience -->
<div class="shadow">
<div class="green"><h3>Contact Form</h3></div>
    <div style="margin:10px;">
        <h5><b>Message has been sent! Thank you for your response!</b></h5><br/>

        <center><a href="index.html"><button class="btn btn-success">Go to Homepage</button></a></center><br/>
    </div>
</div>

{% include "footer.html" %}