<!-- 
Story PPW

Created by Fransiscus Emmanuel Bunaren
1806173506
-->

{% load static %}
{% csrf_token %}

{% include "header.html" %}
<title>Friend List | Fransiscus Emmanuel Bunaren</title>

<!-- Add Friend Form -->
<div class="shadow">
<div class="green"><h3>Add Friend</h3></div>
    <div style="margin:10px;">
        <!-- Form for sending data -->
        <!--
            The data that 
            I want to store for my friends are their name, 
            hobby, favorite food/drinks, and which class year they
        -->
        <form method="POST" action="" style="padding:10px;">
            {% csrf_token %}
            {{ form }}
            <br/><br/>
            <input type="submit" class="btn btn-success" value="Add Friend"></input>
        </form>
    </div>
</div>

<!-- Add Friend Form -->
<div class="shadow">
<div class="green">
    <h3>Friend List</h3>
    Click the dropdown to see detail of a friend
</div><br/>

<table class="table">    
        {% for friend in friend_list %}
        <details class="shadow">
            <summary class="green" style="background-color:yellowgreen;padding:10px;"><big>{{ friend.name }}</big></summary>
            <li/>Hobby : {{ friend.hobby }}
            <li/>Favorite Food / Drink : {{ friend.fav_fd }}
            <li/>Class Year : {{ friend.class_year }}
            <br/><br/>
            <a href="friends.html?action=delete&id={{ friend.id }}"><button class="btn btn-danger" style="margin:10px;">Delete</button></a>
        </details>
        <br/>
        {% endfor %}
</table>

</div>

<br/>
{% include "footer.html" %}