<!-- Loading JQuery -->
<script src="/static/js/jquery.min.js"></script>

<!-- Loading Bootstrap-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css" rel="stylesheet" />
<script src="/static/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0' name='viewport'/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

{% include "navbar.html" %}

<div class="shadow" style="overflow-x:auto;">
<table class="resp_table">
    <tr>
        <td><center><img src="/static/img/2340.jpg" width="220" height="300"></img></center></td>

        <td>
            <span class="green">Hello & Welcome</span>
            <h2 style="margin:10px;">I'm <font color="#11b67e" size="5">Fransiscus Emmanuel Bunaren</font></h2>
            <h3 style="margin:10px;">Computer Science Student at Universitas Indonesia</h3>
            <hr/>

            <!-- Card Info-->

            <table style="margin:10px;">
            <tr>
                <td><b>Email </b></td>
                <td>fransiscus.emmanuel@ui.ac.id</td>
            </tr>
            <tr>
                <td></td>
                <td>fransiscusbunaren@gmail.com</td>
            </tr>

            <tr>
                <td><b>Website </b></td>
                <td><a href="https://bunaren.com" target="_blank">https://bunaren.com</a></td>
            </tr>
            </table>
            
            <br/>

            <!-- Social Media Links-->
            <div class="green" style="padding:5px;">
            Find me on : <a href="https://instagram.com/fbunaren" target="_blank" style="text-decoration: none;"><img src="/static/img/ig.png" width="35" height="25" style="border-radius:10px;padding-right: 10px;"></img></a>

                        <a href="https://instagram.com/fbunaren" target="_blank" style="text-decoration: none;">
                            <img src="/static/img/in.png" width="25" height="25" style="border-radius:10px;"></img>
                        </a>
            </div>

        </td>
    </tr>
</table>
</div>

<br/>