<!-- 
Story PPW

Created by Fransiscus Emmanuel Bunaren
1806173506
-->
{% load static %}
{% csrf_token %}

{% include "header.html" %}
<title>Fransiscus Emmanuel Bunaren</title>

<!-- Experience -->
<details class="shadow">
    <summary class="green" style="padding:2px;"><h2 style="display: inline;" id="experience">Experience</h2></summary>
        <div style="margin:10px">
           <h4><li class="yellow">Foundations of Programming 1 Teaching Assistant</li></h4>
            Foundations of Programming 1 2019/2020 Odd Semester
            <br/>Grading, Teaching, and Assisting Students to learn programming in <b>Python.</b>

            <br/>

            <h4><li class="yellow">Foundations of Programming 2 Teaching Assistant</li></h4>
            Foundations of Programming 2 2019/2020 Even Semester
            <br/>Grading, Teaching, and Assisting Students to learn programming in <b>Java.</b>
        </div>
</details>

<br/>
<!-- Achievement -->
<details class="shadow">
    <summary class="green" style="padding:2px;" id="achievement">
        <h2 style="display: inline;">Achievement</h2>
    </summary>
    <div style="margin:10px">
        <h4><li class="yellow">3rd Place, IPSC Ristek , Competitive Programming Contest</li></h4>
        Winning 3rd Place in Pekan Ristek Competitive Programming Contest, with team name “Sayang Bunda” and team members :
        Fransiscus, Iqrar and Vian.
    </div>
</details>

<br />
<!-- Skills -->
<details class="shadow">
    <summary class="green" style="padding:2px;" id="skills">
        <h2 style="display: inline;">Skills</h2>
    </summary>
    <div style="margin:10px">
        <h4>
            <li class="yellow">Strong in</li>
        </h4>
        Python, PHP , Visual Basic , HTML , JavaScript

        <h4>
            <li class="yellow">Experienced in</li>
        </h4>
        Java , CSS , AntiVirus and Malware Analysis , C++ , Data Structure & Algorithms , Database

        <h4>
            <li class="yellow">Have Learned</li>
        </h4>
        Assembly , Pascal
    </div>
</details>

<br />
<!-- Projects -->
<details class="shadow">
    <summary class="green" style="padding:2px;" id="projects">
        <h2 style="display: inline;">Projects</h2>
    </summary>
    <div style="margin:10px">
        <h4>
            <li class="yellow">Bunaren AntiVirus</li>
        </h4>
        <br/>AntiVirus software with both signature-based and heuristic-based detection algorithm.
        <br/><a href="https://antivirus.bunaren.com">https://antivirus.bunaren.com</a>

        <h4>
            <li class="yellow">Catur Jawa</li>
        </h4>
        <br />Online Multiplayer Indonesian Traditional Board Game.
        <br /><a href="http://caturjawa.bunaren.com">http://caturjawa.bunaren.com</a>
        
        <h4>
            <li class="yellow">Bunaren Cryptocurrency Trader</li>
        </h4>

        <br />Automatic Cryptocurrency Trader for Indodax Trader
        <br /><a href="http://trader.bunaren.com">http://trader.bunaren.com</a>
        
    </div>
</details>

{% include "footer.html" %}
