<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href = "index.html" > Fransiscus Emmanuel Bunaren</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-form.html">Contact Form</a>
                <li class="nav-item">
                    <a class="nav-link" href="friends.html">Friends</a>
            </ul>
        </div>
</nav >
<br/>